set_io --warn-no-port led_blue 40
set_io --warn-no-port led_green 39
set_io --warn-no-port led_red 41
set_io --warn-no-port clk 35
set_io --warn-no-port sw2 10
set_io --warn-no-port o_logic_1 26
set_io --warn-no-port o_logic_2 23
set_io --warn-no-port o_logic_3 21
set_io --warn-no-port o_logic_0 19

# Encoder
set_io --warn-no-port quadA 23
set_io --warn-no-port quadB 18
set_io --warn-no-port quadC 25
set_io --warn-no-port quadD 19


# VGA
set_io --warn-no-port VGA_R_0 4 
set_io --warn-no-port VGA_R_1 2
set_io --warn-no-port VGA_R_2 45
set_io --warn-no-port VGA_R_3 47

set_io --warn-no-port VGA_G_0 43
set_io --warn-no-port VGA_G_1 38
set_io --warn-no-port VGA_G_2 34
set_io --warn-no-port VGA_G_3 31

set_io --warn-no-port VGA_B_0 3
set_io --warn-no-port VGA_B_1 44
set_io --warn-no-port VGA_B_2 46
set_io --warn-no-port VGA_B_3 48

set_io --warn-no-port vga_h_sync 42
set_io --warn-no-port vga_v_sync 36
